/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.donation-checkout .donation-box{
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 35px;
}

.donation-checkout .donation-box h3 { margin-bottom: 10px }
.donation-checkout .donation-box h4 { margin-top: 0 }
.donation-checkout .produk-dibeli #price{
    text-align: right;
    width:100%;
    padding-left: 3px;
    padding-right: 4px;
    font-size: 14px;
    line-height: 100%;
}

.donation-checkout .donation-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.donation-checkout .donation-list li {
    list-style: none;
    margin: 0;
    padding: 6px 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 42px;
}

.donation-checkout .donation-list li:nth-child(2n+1) {
    background-color: #fafafa;
}

.donation-checkout .donation-list li:first-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.donation-checkout .donation-list li:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.donation-checkout .donation-list span {
    display: block;
}

.donation-checkout .donation-list span.donatur-name {
    width: calc(100% - 130px);
    line-height: 200%;
}

.donation-checkout .donation-list span.donatur-time {
    display: inline-block;
    font-size:12px;
    color:#00b5ad!important;
}

.donation-checkout .donation-list span.donatur-payment {
    font-weight: bold;
    width:120px;
    text-align: right;
}


@media screen and (max-width:480px) {
    .donation-checkout .produk-dibeli {}

    .donation-checkout .produk-dibeli tbody {

    }

    .donation-checkout .produk-dibeli tbody tr {

    }

    .donation-checkout .produk-dibeli tbody tr td:first-child{
        padding-right: 10px
    }

    .donation-checkout .produk-dibeli tbody tr td:last-child{
        padding-left: 10px
    }
}
